@{
    Layout = "_layoutFooter";
}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-12 look">
            <h1>
                Informativa sulla protezione delle persone fisiche
                con riguardo al trattamento dei dati personali
            </h1>
            <h2>(Regolamento Generale sulla Protezione dei Dati (UE) 2016/679, art. 13)</h2>

            <p>
                Il trattamento dei dati personali forniti dall'utente operando sul portale IOvoto, per partecipare alla sperimentazione del voto elettronico da remoto in occasione del rinnovo dei COMITES 2021, sarà improntato ai principi di liceità, correttezza e trasparenza a tutela dei diritti e delle libertà fondamentali delle persone fisiche.
            </p>
            A tal fine, ai sensi dell’art. 13 dell’RGPD, si forniscono le seguenti informazioni:
            
            <p class="font-weight-bold mt-2"><u>1. Il Titolare ed i Responsabili del trattamento</u></p>
            Il Titolare del trattamento è il Ministero degli Affari Esteri e della Cooperazione Internazionale (MAECI) il quale opera, nel caso specifico, per il tramite dell'Ufficio VIII della DGAI (telefono: telefono: +39 06 3691 2192, peo: segreteria.dgai@esteri.it, pec: dgai08.pec@cert.esteri.it). Intervengono in qualità di Responsabili del trattamento le società Accenture Italia Srl, per alcuni servizi informatici presso la sede del MAECI, e Oracle Italia Srl, per il servizio di “cloud” pubblico.
            
            <p class="font-weight-bold mt-2"><u>2. Il Responsabile della protezione dei dati</u></p>
            Il Responsabile della protezione dei dati personali (RPD) del MAECI può essere interpellato ai seguenti recapiti: telefono +39 06 36911 (centralino), peo: rpd@esteri.it, pec: rpd@cert.esteri.it.
            
            <p class="font-weight-bold mt-2"><u>3. I dati personali trattati</u></p>
            Operando sul portale IOvoto saranno trattati i seguenti dati personali dell’interessato: dati anagrafici (nome e cognome, sesso, data e luogo di nascita), luogo di residenza, codice fiscale, avvenuto esercizio del voto, dati informatici (indirizzo IP, tipo di navigatore, posta elettronica, data e ora dell’accreditamento e del voto, codice elettore, verifica di autenticazione) e dati particolari (voto espresso).

            <p class="font-weight-bold mt-2"><u>4. Finalità del trattamento</u></p>
            Il trattamento dei predetti dati personali ha come unica finalità di consentire agli interessati di partecipare alla sperimentazione del voto elettronico da remoto in occasione del rinnovo dei COMITES 2021.

            <p class="font-weight-bold mt-2"><u>5. Basi giuridiche del trattamento</u></p>
            Le basi giuridiche del trattamento sono l’art. 1, c. 648, della Legge 178/2020 ed il previo consenso dell’interessato. In mancanza del predetto consenso, l’interessato non potrà registrarsi sul portale IOvoto, né esprimere il proprio voto.

            <p class="font-weight-bold mt-2"><u>6. Modalità del trattamento</u></p>
            Il trattamento dei dati, svolto da personale appositamente incaricato del MAECI, con il supporto di addetti dei Responsabili del trattamento, sarà effettuato in modalità mista, manuale ed automatizzata, con logiche strettamente correlate alle finalità sopra indicate e tramite l’impiego di misure di sicurezza atte a garantire la riservatezza dei dati personali. A quest’ultimo riguardo, si prevede la pseudonimizzazione e la cifratura dei dati, ivi compresi quelli di verifica di autenticazione, anche lato server, con chiavi di cifratura in possesso solo del personale incaricato del MAECI. I dati degli utenti saranno custoditi in forma cifrata in un “cloud” di Oracle situato in Germania.

            <p class="font-weight-bold mt-2"><u>7. Trasmissione dei dati a soggetti terzi</u></p>
            I dati non saranno comunicati a soggetti o paesi terzi senza la previa autorizzazione del MAECI ed in assenza di un obbligo legale previsto dalla normativa italiana.

            <p class="font-weight-bold mt-2"><u>8. Periodo di conservazione dei dati</u></p>
            I dati personali saranno raccolti e conservati sul “cloud” di Oracle, per una valutazione tecnica della sperimentazione, fino a un massimo di novanta giorni a partire dalla data ultima della finestra di voto (3 dicembre 2021). Scaduto tale termine, i dati saranno conservati per fini istituzionali nel CED (Centro elaborazione dati) del MAECI fino ad un massimo di sei mesi, mantenendo la separazione tra i dati personali ed il voto espresso. Le copie cache o temporanee di dati sensibili memorizzati sul server saranno eliminate non appena esaurita la loro funzione.

            <p class="font-weight-bold mt-2"><u>9. Diritti degli interessati</u></p>
            L’interessato può chiedere l’accesso ai propri dati personali, ad eccezione del voto espresso che è tecnicamente dissociato dal rispettivo nominativo. Egli può altresì chiedere la cancellazione di tali dati una volta concluso il periodo di conservazione previsto al punto 8. In questi casi, l’interessato dovrà presentare apposita richiesta all’Ufficio indicato al punto 1, informando per conoscenza l’RPD del MAECI.

            <p class="font-weight-bold mt-2"><u>10. Reclami</u></p>
            Se ritiene che i suoi diritti in materia di privatezza siano stati violati, l'interessato può presentare reclamo all'RPD del MAECI. Qualora non sia soddisfatto della risposta, l’interessato può rivolgersi al Garante per la Protezione dei Dati personali (Piazza Venezia 11, 00187 ROMA; telefono: +39 06 69771; peo: protocollo@gpdp.it; pec: protocollo@pec.gpdp.it).

            <div class="text-center">
                <a class="pc-button pc-button-blue text-uppercase" title="Torna alla procedura di voto" asp-controller="vaialvoto" asp-action="index" aria-label="BackIndex"><i class="fa fa-lg fa-sign-out maeci" aria-hidden="true"></i>&nbsp;Torna al voto</a>
            </div>
        </div>
    </div>
</div>