@{
    Layout = "_layoutFooter";
}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-12 look">
            <h1>
                Informativa sulla protezione delle persone fisiche
                con riguardo al trattamento dei dati personali
            </h1>
            <h2>(Regolamento Generale sulla Protezione dei Dati (UE) 2016/679, art. 13)</h2>

            <p>Il trattamento dei dati personali forniti dall'utente per la registrazione sul portale IOvoto sará improntato ai principi di liceitá, correttezza e trasparenza a tutela dei diritti e delle libertá fondamentali delle persone fisiche.</p>
            A tal fine, si forniscono le seguenti informazioni:
            1. Il titolare del trattamento è il Ministero degli Affari Esteri e della Cooperazione Internazionale (MAECI) il quale opera, nel caso specifico, per il tramite dell'Ufficio VIII della DGAI (telefono: telefono: 06 3691 2192, peo: segreteria.dgai@esteri.it, pec: dgai08.pec@cert.esteri.it ).
            2. Per quesiti o reclami in materia di privatezza, l'utente può contattare il Responsabile della Protezione dei Dati personali (RPD) del MAECI: telefono +39 06 36911 (centralino), peo: rpd@esteri.it, pec: rpd@cert.esteri.it.
            3. I dati personali chiesti sono necessari per accedere su IOvoto, il portale del MAECI realizzato per supportare le operazioni di voto elettronico sperimentale da remoto.
            4. I dati personali sono conferiti a titolo volontario, ma in caso di rifiuto non sará possibile accedere al portale IOvoto, né esprimere il proprio voto.
            5. Il trattamento dei dati, svolto da personale appositamente incaricato del MAECI, sará effettuato in modalitá mista, manuale ed automatizzata, con logiche strettamente correlate alle finalità sopra esplicate e tramite l’impiego di misure di sicurezza atte a garantire la riservatezza dei dati personali.
            6. I dati che pervengano al sito del Ministero, spontaneamente dagli utenti di esso o perché richiesti nel corso dei collegamenti, saranno sottoposti al trattamento previsto dalla normativa sulla privacy. I dati personali sono trattati secondo le disposizioni e nei limiti di cui al Regolamento Generale sulla Protezione dei Dati (UE) 2016/679 ed utilizzati esclusivamente a fini istituzionali, solo per il tempo necessario a conseguire gli scopi per cui sono stati raccolti.
            7. I dati non saranno comunicati a soggetti terzi.
            8. Le copie cache o temporanee di dati sensibili memorizzati sul server saranno eliminati appena non sono più necessari. Si prevede la pseudonimizzazione e la cifratura dei dati personali attraverso misure di crittografia delle informazioni categorizzate come altamente sensibili, come i dati di verifica di autenticazione, anche lato server.
            9. Se ritiene che i suoi diritti in materia di privatezza siano stati violati, l'utente può presentare un reclamo all'RPD del MAECI. Qualora non sia soddisfatto della risposta, l'utente può rivolgersi al Garante per la Protezione dei Dati personali (Piazza Venezia 11, 00187 ROMA; telefono: 0039 06 69771; peo: garante@gpdp.it; pec: protocollo@pec.gpdp.it).
            <div class="text-center">
                <a class="pc-button pc-button-blue text-uppercase" title="Torna alla procedura di voto" asp-controller="vaialvoto" asp-action="index" aria-label="BackIndex"><i class="fa fa-lg fa-sign-out maeci" aria-hidden="true"></i>&nbsp;Torna al voto</a>
            </div>
        </div>
    </div>
</div>