@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Http;
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> Localizer
@{
    var UrlAppA = Startup.StaticConfig.GetSection("AppA_URL").Value.ToString();
}

<div class="text-center">
    <a class="pc-button pc-button-blue mb-5" href="@UrlAppA" title="@Localizer["UI-Sessione-Titolo"]">@Localizer["UI-Sessione"] @Localizer["Sito-Nome"]</a>
    <div id="ajax-liste-loader" class="before-submit-loader" style="display:none;"><img src="~/img/loader.GIF" alt="" /></div>
    <a id="ajax-liste-trigger" class="pc-button pc-button-blue next" href="javascript:void(0);" style="display:none;">ACCEDI</a>
</div>
