@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
<div class="lookC mb-5">
    <i class="fa fa-calendar-times-o fa-3x fa-pull-left text-warning" aria-hidden="true"></i>
    <h2 class="text-left">Gentile elettore,</h2>
    <h3 class="text-left">le elezioni sono terminate il</h3>
    <h2>@ViewData["FineVotazione"]</h2>
</div>