<div class="lookC mb-5">
    <i class="fa fa-calendar-times-o fa-3x fa-pull-left text-warning" aria-hidden="true"></i>
    <h2 class="text-left">Gentile elettore,</h2>
    <h3 class="text-left">l'inizio delle votazioni partirà dal giorno</h3>
    <h2>@ViewData["InizioVotazione"]</h2>
</div>