@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-2"></div>
        <div class="col-8 look p-2">
            <div class="alert alert-danger text-left" role="alert">
                <i class="fa fa-ban fa-3x fa-pull-left" aria-hidden="true"></i><h1>@ViewData["Title"]</h1>
                <ul>
                    <li>Si suggerisce di effettuare nuovamente l’accesso dalla home page di <a href="https://www.Iovoto.it" title="Accedi nuovamente a IOvoto" target="_self">IOvoto</a> e di controllare la propria connessione internet.</li>               
                    <li>Ove il problema persista, si potrà contattare l’Ufficio consolare di riferimento.</li>
                </ul>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>