@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-12 look">
            <h2>@ViewData["Title"]</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse scelerisque a tortor eget commodo. Nullam egestas elit vitae enim sagittis tincidunt. Aenean tempus purus eu massa congue egestas. Mauris facilisis, ante et malesuada vulputate, turpis massa suscipit nunc, id pellentesque ex ante at tellus. Vivamus euismod malesuada ipsum ac vestibulum. Praesent a dui elementum, porta diam sit amet, aliquet nisi. Pellentesque tristique sapien massa, nec condimentum odio semper at. Ut a mi a mauris congue venenatis. Integer facilisis ligula ligula, in commodo neque sodales sit amet.

                Integer non dolor a massa iaculis sollicitudin quis eu metus. Nulla commodo mi non metus iaculis mattis. Suspendisse non efficitur nisi. Cras vitae sapien facilisis, auctor ligula at, efficitur magna. Curabitur auctor facilisis lectus in interdum. Pellentesque lobortis arcu a mattis sodales. Vivamus facilisis enim magna, laoreet efficitur lacus mattis eget. Donec vel libero dapibus, suscipit ligula et, iaculis nisl. Ut blandit augue risus, ut facilisis lorem tincidunt sed. Fusce turpis nulla, gravida ut ullamcorper dictum, efficitur tincidunt justo. Morbi in urna fermentum, rutrum dui at, hendrerit orci.

                Aenean lobortis iaculis lectus eget gravida. Vivamus elit lorem, laoreet at sodales sit amet, cursus eu est. Suspendisse vel lacinia urna, at mattis lectus. Aenean dapibus tempus metus, eu aliquam metus accumsan vitae. Sed tempor magna maximus nulla varius facilisis. Maecenas consequat id mauris vitae molestie. Sed molestie dui ante, quis lobortis enim sodales id. Nam eu tempor quam. Cras nec tellus ut ligula lobortis euismod ut eget mi.

                In finibus et tellus in suscipit. Pellentesque ut libero lacinia ex interdum iaculis. Suspendisse eleifend congue enim non venenatis. Aenean egestas consequat augue, at mattis libero cursus nec. Aenean et laoreet nunc, id eleifend felis. Cras sollicitudin erat nec elit molestie lacinia. In maximus tortor nec velit cursus convallis. Praesent vestibulum non quam ultricies placerat. Proin mi diam, auctor eu ornare a, vestibulum a ipsum. Donec eget massa nunc. Nunc imperdiet justo non pharetra gravida. Curabitur nec mattis tellus. Suspendisse eget ultricies lacus.

                Aliquam vel eros ligula. Mauris dapibus ultricies mauris id venenatis. Ut sagittis, libero vitae ornare congue, nisl nisl aliquet lacus, nec viverra tellus orci id libero. Vestibulum finibus volutpat enim, vitae lobortis mi pellentesque sit amet. Aliquam quis odio quis ipsum feugiat dictum. Maecenas ut ipsum vitae magna lobortis pulvinar quis in orci. Duis pulvinar feugiat augue sed lacinia. Praesent semper nisi elit, sit amet cursus nulla porttitor mattis. In efficitur luctus maximus.
            </p>
            <partial name="_FooterButton" />
        </div>
    </div>
</div>
