@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> Localizer
<a class="pc-button pc-button-red text-uppercase" title="@Localizer["UI-Esci-Title"]" asp-controller="Home" asp-action="Logout" aria-label="Logout"><i class="fa fa-lg fa-sign-out maeci" aria-hidden="true"></i>&nbsp;@Localizer["UI-Esci"]</a>