@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IViewLocalizer Localizer

@inject IStringLocalizer<SharedResource> Localizer
@{
    ViewData["ProvaView"] = Localizer["Prova"];
}
<footer id="footer" class="border-top footer pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <img src="~/img/footer-logo.png" alt="" class="logo-img-footer" />
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <ul>
                    <li><a target="_blank" href="https://www.esteri.it/mae/it/">MAECI</a></li>
                    <li><a target="_blank" href="https://serviziconsolari.esteri.it/ScoFE/index.sco">Portale FAST.IT</a></li>
                    <li><a target="_blank" href="https://www.esteri.it/mae/it/servizi/italiani-all-estero/organismirappresentativi/comites.html">Portale Com.It.Es</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                
            </div>
            @*<div class="col-12 col-sm-12 col-md-12 col-lg-12 copy-div" style="font-size:10px;">Si consiglia la fruizione del portale con IE 11 o superiori, Chrome 83 o superiori, Firefox 72 o superiori.</div>*@
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 copy-div pt-0"><h5>&copy; @DateTime.Now.Year - Ministero degli Affari Esteri e della Cooperazione Internazionale</h5></div>
        </div>
        @*<div id="v-div">v. @Startup.StaticConfig.GetSection("Version").Value</div>*@
    </div>
</footer>