@{
    Layout = "_layoutFooter";
}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-12 look">            
            <h2>Informativa estesa sull'utilizzo dei Cookie</h2>

            <h4>Cosa sono i cookie</h4>
            <p>I cookie sono piccoli file di testo scambiati tra il sito web e il browser di navigazione dell’utente, ogni volta che si accede a un sito Internet. Sono utilizzati per tenere traccia delle sessioni, per ottimizzare l'esperienza di navigazione, per eseguire autenticazioni automatiche.</p>
            <p>I cookie sono utilizzati per diverse finalità a seconda della loro tipologia: alcuni sono strettamente necessari per la corretta funzionalità di un sito web (cookie tecnici), mentre altri hanno scopi diversi come garantire la sicurezza interna, amministrare il sistema, effettuare analisi statistiche, comprendere quali sono le sezioni del sito che interessano maggiormente gli utenti o offrire una visita personalizzata del sito. I cookie vengono memorizzati, in base alle preferenze dell'utente, dal singolo browser sullo specifico dispositivo utilizzato (computer, tablet, smartphone,ecc.).</p>

            <h4>Cookie utilizzati da questo sito</h4>
            Questo sito utilizza i seguenti cookie:
            <ol>
                <li>•	Cookie di servizio: il cui utilizzo è strumentale alla raccolta di dati personali identificativi degli utenti;</li>
                <li>•	Cookie di sessione: il cui utilizzo è strumentale a garantire il corretto funzionamento delle procedure e migliorare la navigazione.</li>
            </ol>

            <h4>Come disabilitare i cookie</h4>
            Si possono trovare ulteriori informazioni su come gestire i cookie nel proprio browser consultandone il relativo Help.
            Cliccando il pulsante in basso si acconsente all'utilizzo di tutti i cookie da parte di questo sito web.

            La presente informativa potrà essere da noi modificata in qualsiasi momento. Vi preghiamo di verificare di volta in volta la data dell’ultimo aggiornamento riportata in cima a questa pagina.
            Questa pagina è visibile a partire dall’informativa breve e mediante link nel footer posto in tutte le pagine del sito ai sensi dell’art. 122 secondo comma del Regolamento Generale sulla Protezione dei Dati (UE) 2016/679 e a seguito delle modalità semplificate per l'informativa e l’acquisizione del consenso per l’uso dei cookie pubblicata sulla Gazzetta Ufficiale n.126 del 3 giugno 2014 e relativo registro dei provvedimenti n.229 dell’8 maggio 2014.

            <div class="text-center">
                <a class="pc-button pc-button-blue text-uppercase" title="Torna alla procedura di voto" asp-controller="Home" asp-action="Index" aria-label="BackIndex"><i class="fa fa-lg fa-sign-out maeci" aria-hidden="true"></i>&nbsp;Torna al voto</a>
            </div>
        </div>
    </div>
</div>