@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@{
    Layout = "_Layout";
}
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> Localizer
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

<div class="container">
    <div class="row mt-5 mb-5">
        <div id="divWarnig" class="col-sm-12 col-md-12 col-lg-12 col-xl-12  text-center mt-4">
            <div class="alert alert-danger lookC" role="alert">
                <h1 class="font-weight-bold"><i class="fa fa-1x fa-exclamation-circle" aria-hidden="true"></i>
                    Codice elettore incorretto o non presente.
                </h1>
                <h3 class="font-weight-bold">Necessario accedere nuovamente e reinserirlo.</h3>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="text-center">
                <partial name="_ButtonAppA" />            
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
    </div>
</div>