@{
    Layout = "_layoutFooter";
}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-12 look">
            <h2>@ViewData["Title"]</h2>
            <table id="faq" class="table table-responsive table-striped table-hover">
                <tr>
                    <td class="col-3 text-primary text-uppercase align-middle font-weight-bold">
                        Cosa sono i COM.IT.ES?
                    </td>
                    <td class="col-9">
                        I COM.IT.ES sono organismi rappresentativi della nostra collettività, eletti direttamente dagli italiani residenti all’estero in ciascuna Circoscrizione consolare dove risiedono almeno tremila connazionali.
                        Hanno un ruolo di rappresentanza  delle collettività, di cui sono espressione, nei confronti dell’Autorità consolare, con la quale mantengono rapporti di collaborazione e cooperazione  al fine di tutelare i diritti e gli interessi dei cittadini italiani residenti.
                    </td>
                </tr>
                <tr>
                    <td class="col-3 text-primary text-uppercase align-middle font-weight-bold">
                        Quali sono le funzioni dei COMITES?
                    </td>
                    <td>
                        I Comites contribuiscono ad individuare le esigenze di sviluppo sociale, culturale e civile della comunità italiane di riferimento. Possono presentare contributi alla rappresentanza diplomatico-consolare utili alla definizione del quadro programmatico degli interventi nel Paese in cui opera. A tale fine i Comites promuovono iniziative nelle materie attinenti alla vita sociale e culturale, con particolare riguardo alla partecipazione dei giovani, alle pari opportunità, all’assistenza sociale e scolastica, alla formazione professionale, al settore ricreativo, allo sport e al tempo libero della comunità italiana residente nelle Relative circoscrizioni consolari.
                    </td>
                </tr>
                <tr>
                    <td class="col-3 text-primary text-uppercase align-middle font-weight-bold">Cos'è il Portale Iovoto?</td>
                    <td>
                        Il Portale IOvoto  è un portale WEB realizzato per supportare la sperimentazione del voto elettronico per lo svolgimento delle elezioni COM.IT.ES. 2021. Tale sperimentazione affiancherà la procedura di voto per corrispondenza nelle circoscrizioni consolari selezionate per la sperimentazione stessa. Tuttavia, trattandosi di una sperimentazione, il voto espresso in via digitale non avrà valore legale. Soltanto il voto espresso per corrispondenza sarà conteggiato in sede di scrutinio.
                    </td>
                </tr>

                <tr>
                    <td class="col-3 text-primary text-uppercase align-middle font-weight-bold">Chi può accedere al portale e quindi alla sperimentazione del Voto Elettronico?</td>
                    <td>Possono partecipare alla sperimentazione del voto elettronico I cittadini italiani residenti all´estero nelle circoscrizioni consolari selezionate per la sperimentazione del voto elettronico e regolarmente iscritti all'AIRE da almeno sei mesi, che abbiano fatto pervenire la propria richiesta di iscrizione nell’elenco degli elettori per le elezioni del Com.It.es della circoscrizione consolare di residenza per il tramite del portale per i servizi consolari online Fast.it, entro 30 giorni dalla data prevista del voto.  Solo gli elettori registrati in tal modo potranno accedere al portale e partecipare alla sperimentazione del voto elettronico.</td>
                </tr>

                <tr>
                    <td class="col-3 text-primary text-uppercase align-middle font-weight-bold">Come si vota?</td>
                    <td>L’elettore, previa autenticazione sul Portale IOvoto tramite SPID (livello 1), esprime il proprio voto seguendo le istruzioni, che attraverso un processo di 4 steps guideranno dall’ INGRESSO NELLA CABINA ELETTORALE VIRTUALE, all'ESPRESSIONE DI VOTO, al RIEPILOGO E CONFERMA DEL VOTO. Dopo aver confermato il voto sarà possibile scaricare la RICEVUTA DI VOTO facendo nuovamente accesso all’applicazione. Gli elettori potranno votare solamente nel periodo in cui le votazioni sono aperte. L' elettore che ha aderito alla sperimentazione per il voto elettronico riceverà anche il plico elettorale per corrispondenza e dovrà restituire la scheda votata con le modalità indicate. Solo il voto per corripondenza avrà valore giuridico.</td>
                </tr>
                <tr>

                    <td class="col-3 text-primary text-uppercase align-middle font-weight-bold">Per chi si vota?</td>
                    <td>Si vota per liste di candidati presentate per l'elezione del Comites nella circoscrizione consolare. Oltre al voto alla lista è possibile esprimere un numero di preferenze per i candidati della lista prescelta in numero non superiore a un terzo dei membri del Comites da eleggere. I Com.It.Es. sono composti da 12 membri o da 18 membri, a seconda che vengano eletti in Circoscrizioni Consolari con un numero minore o maggiore di 100 mila connazionali residenti.</td>
                </tr>

                <tr>
                    <td class="col-3 text-primary text-uppercase align-middle font-weight-bold">Chi può essere eletto?</td>
                    <td>
                        Sono eleggibili i cittadini italiani residenti nella circoscrizione consolare e candidati in una delle liste presentate, purché iscritti nell’elenco aggiornato di cui all’articolo 5, comma 1, della legge 27 dicembre 2001, n. 459, e in possesso dei requisiti per essere candidati alle consultazioni elettorali amministrative. La candidatura è ammessa soltanto in una circoscrizione e per una sola lista. Nel caso di candidatura in più circoscrizioni o in più liste, il candidato non è eleggibile.
                        Le liste elettorali sono composte in modo da garantire le pari opportunità e una efficace rappresentazione della comunità di riferimento.
                    </td>
                </tr>

                <tr>
                    <td class="col-3 text-primary text-uppercase align-middle font-weight-bold">Non ho SPID, posso accedere alla sperimentazione per il voto elettronico utilizzando altre credenziali?</td>
                    <td>
                        No. Per l'accesso alla sperimentazione per il voto elettronico è necessaria l'identità digitale SPID – Sistema Pubblico di Identità Digitale.
                    </td>
                </tr>

                <tr>
                    <td class="col-3 text-primary text-uppercase align-middle font-weight-bold">Si può votare scheda bianca?</td>
                    <td>Si. Il sistema prevede la possibilità di votare scheda bianca e di non selezionare alcuna delle liste di candidati. La scheda bianca verrà conteggiata solo per quel che riguarda i dati dell’affluenza alle urne, ma non influenzerà in alcun modo il conteggio dei voti validi.</td>
                </tr>

                <tr>
                    <td class="col-3 text-primary text-uppercase align-middle font-weight-bold">Posso annullare la scheda?</td>
                    <td>No, non è prevista la possibilità di annullare la scheda.</td>
                </tr>

                <tr>
                    <td class="col-3 text-primary text-uppercase align-middle font-weight-bold">Come è evitato il doppio voto?</td>
                    <td>Al momento dell'identificazione sul portale tramite SPID, il sistema attribuisce automaticamente all'elettore un Codice di Convalida unico e personale. Tale codice sarà propedeutico per l'accesso in cabina elettorale dell'elettore e per l'espressione del proprio voto. Una volta confermato il voto e depositato nell'urna virtuale, il codice viene marcato come "usato" impedendo in questo modo all'elettore di poter ripetere la procedura.</td>
                </tr>

                <tr>
                    <td class="col-3 text-primary text-uppercase align-middle font-weight-bold">È previsto un time-out mentre sto votando?</td>
                    <td>Sì. La sessione di voto ha una durata di 30:00 minuti.</td>
                </tr>

                <tr>
                    <td class="col-3 text-primary text-uppercase align-middle font-weight-bold">Sono uscito per sbaglio dal portale mentre stavo votando, cosa faccio?</td>
                    <td>Il sistema permette  all’elettore e con le stesse credenziali, un numero di accessi indefinito fino alla conferma del voto. Il processo di voto sulla piattaforma è suddiviso in due passaggi: la selezione e, poi, la conferma del voto. Se il sistema comunica che non è più possibile accedere alla Cabina Elettorale, vuol dire che durante la sessione precedente il voto è stato confermato.</td>
                </tr>

                <tr>
                    <td class="col-3 text-primary text-uppercase align-middle font-weight-bold">L'integrità e la segretezza del voto sono garantiti?</td>
                    <td>
                        Sì. Il processo di voto è stato studiato per garantire la sicurezza, la segretezza e la privacy dei voti espressi. La segretezza e l'integrità del voto sono garantiti dal fatto che il portale per il voto elettronico separa del tutto l’informazione votante - voto (la cabina elettorale è separata dalla lista degli elettori), in forma del tutto analoga a quanto avviene presso un seggio elettorale.
                        Nel registro dei votanti viene registrata l’avvenuta votazione del votante associato alle credenziali SPID. L’espressione di voto viene invece inviata, in forma anonima, all’urna. Sulla ricevuta di avvenuta votazione in nessun modo saranno riportati riferimenti al voto espresso. Non  è possibile collegare le due informazioni che sono conservate e gestite separatamente.
                    </td>
                </tr>

                <tr>
                    <td class="col-3 text-primary text-uppercase align-middle font-weight-bold">I voti elettronici pervenuti sono sicuri?</td>
                    <td>Sì. Nell’ambito di questo progetto di Voto Elettronico, l’uso della Blockchain serve a registrare e replicare in modo RIGIDAMENTE SEPARATO, non ripudiabile e NON MODIFICABILE i VOTANTI (aventi diritto ed ammessi al voto) dal VOTO espresso. Il modello di Blockchain scelto per questo progetto (Hyperledger Fabric) organizza i ruoli e le informazioni in modo da permettere, oltre alla immutabilità del dato, una appropriata ed invalicabile segregazione tra i soggetti coinvolti. La Blockchain permette inoltre il cd. “shuffling” dei voti, che permetterà a votazioni chiuse di mescolare i voti in maniera analoga a come avviene per il voto cartaceo prima dello scrutinio da parte del personale di seggio. Il Portale lavora sul cloud Oracle, certificato per la sicurezza e la continuità del suo servizio. I dati vengono, inoltre, gestiti nel pieno rispetto della GDPR.</td>
                </tr>

                <tr>
                    <td class="col-3 text-primary text-uppercase align-middle font-weight-bold">Perché è apparso un alert informando che non sono abilitato al voto?</td>
                    <td>Probabilmente le proprie credenziali non sono state inserite correttamente. Se il problema sussiste è opportuno consultare l'Ufficio consolare.</td>
                </tr>

                <tr>
                    <td class="col-3 text-primary text-uppercase align-middle font-weight-bold">Quando posso votare?</td>
                    <td>L'arco temporale per il voto elettronico sperimentale sarà predefinito e pubblicizzato.</td>
                </tr>
            </table>
            <div class="text-center mb-3">
                <a class="pc-button pc-button-blue text-uppercase" title="Torna alla procedura di voto" asp-controller="Home" asp-action="Index" aria-label="BackIndex"><i class="fa fa-lg fa-sign-out maeci" aria-hidden="true"></i>&nbsp;Torna al voto</a>
            </div>
        </div>
    </div>
</div>