@{
    Layout = "_layoutFooter";
    
}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-12 look">
            <h2>@ViewData["Title"]</h2>

            <h3>Utilizzazione del portale IOvoto</h3>
            <p>Il Ministero degli Affari Esteri e della Cooperazione Internazionale non assume alcuna responsabilità per eventuali errori od omissioni di qualsiasi tipo e per qualunque tipo di danno diretto, indiretto o accidentale derivante dalla lettura o dall’impiego delle informazioni pubblicate, o di qualsiasi forma di contenuto presente nel sito.</p>
            <p>Il Ministero degli Affari Esteri e della Cooperazione Internazionale si riserva il diritto di modificare i contenuti del sito e delle note legali in qualsiasi momento e senza alcun preavviso.</p>

            <h3>Scarico di responsabilità</h3>
            <p>1. L'utente riconosce e accetta che l'uso di questo sito è a suo esclusivo rischio e pericolo. L'utente accetta che il sito e tutti i suoi contenuti, compresi i servizi eventualmente offerti, sono forniti in buona fede "così come sono" e "con tutti gli errori". Il Ministero degli Affari Esteri e della Cooperazione Internazionale, pertanto, non rilascia alcun tipo di garanzia, esplicita o implicita, riguardo tali contenuti, compresi, senza alcuna limitazione, la liceità, il diritto di proprietà, la convenienza o l'adeguatezza a particolari scopi o usi. Il Ministero degli Affari Esteri e della Cooperazione Internazionale non garantisce che il sito sia compatibile con le apparecchiature dell'utente o che sia privo di errori o virus, bachi o "cavalli di Troia". Il Ministero degli Affari Esteri e della Cooperazione Internazionale non è responsabile per i danni subiti dall'utente a causa di tali elementi di carattere distruttivo.</p>
            <p>
                2. L'utente riconosce e accetta che il Ministero degli Affari Esteri e della Cooperazione Internazionale, i suoi collaboratori o i suoi fornitori non sono responsabili:
                <ol>
                    <li>i) per i danni causati da negligenze del Ministero degli Affari Esteri e della Cooperazione Internazionale, dei suoi collaboratori, subappaltatori, fornitori o per i danni comunque derivanti da questo sito, nonché per i mancati guadagni, per le perdite, per i danni incidentali o consequenziali o per qualsiasi altro danno parziale o totale, diretto o indiretto;</li> 
                    <li>ii) per disfunzioni nell'utilizzazione dei materiali o dei servizi di questo sito causate dal computer o dalle apparecchiature dell'utente.</li> 
                    <li>Il Ministero degli Affari Esteri e della Cooperazione Internazionale inoltre non è responsabile in alcun modo della qualità dei server di connettività da voi utilizzati per connettervi alla rete, accedere al sito e fruire dei servizi da questo offerti. Il Ministero degli Affari Esteri e della Cooperazione Internazionale non può in alcun modo essere ritenuto responsabile per la eventuale indisponibilità delle linee e delle apparecchiature che l'utente utilizza per accedere a questo sito.</li>
                </ol>
            </p>
            <h3>Limitazione di responsabilità</h3>
            <p>Fatti salvi i limiti inderogabili di legge, in nessuna circostanza, compresa, senza alcuna limitazione, la negligenza, il Ministero degli Affari Esteri e della Cooperazione Internazionale, i suoi fornitori o i collaboratori potranno essere ritenuti responsabili per qualsiasi danno diretto, indiretto, incidentale, consequenziale, legato all'uso di questo sito web o di altri siti web a esso collegati da un link ipertesto, compresi, senza alcuna limitazione, i danni quali la perdita di profitti o fatturato, l'interruzione di attività aziendale o professionale, la perdita di programmi o altro tipo di dati ubicati sul sistema informatico dell'utente o altro sistema.</p>

            <h3>Copyright</h3>
            <p>I contenuti del sito – codice di script, grafica, testi, tabelle, immagini, suoni, e ogni altra informazione disponibile in qualunque forma – sono protetti ai sensi della normativa in tema di opere dell’ingegno.</p>
            <p>Qualsiasi forma di link al presente Sito, se inserita da soggetti terzi, non deve recare danno all'immagine ed alle attività del Ministero degli Affari Esteri e della Cooperazione Internazionale.</p>
            <p>E' vietato il cd. “deep linking” ossia l'utilizzo non trasparente, su siti di soggetti terzi, di parti del sito.</p>
            <p>Eventuali violazioni saranno perseguite nelle competenti sedi giudiziarie.</p>

            <div class="text-center">
                <a class="pc-button pc-button-blue text-uppercase" title="Torna alla procedura di voto" asp-controller="Home" asp-action="Index" aria-label="BackIndex"><i class="fa fa-lg fa-sign-out maeci" aria-hidden="true"></i>&nbsp;Torna al voto</a>
            </div>
        </div>
    </div>
</div>
